@font-face {
    font-family: CodaCaption-ExtraBold;
    src: url(../fonts/CodaCaption-ExtraBold.ttf);
}
*{
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: CodaCaption-ExtraBold;
}
body{
    margin: 0;
}
.uni-padding{
    padding: 0 7%;
}
#tollfree{
    float: left;
    color: white;
}
#topbar{
    background-color: #576574;
    overflow: auto;
}
#social-icons{
    float: right;
    padding: 15px 10px;
}
.fa-brands{
    padding: 5px 6px;
    color:  #576574;
    background-color: #fdfdfd;
    border-radius: 50%;
}
#logobar img{
    width: 120px;
    margin: 25px 0px;
}
#navbar{
    background-color:blue ;
}
#navbar ul li{
    display: inline-block;
    padding: 18px 0px;
    padding-right: 35px;
}
#navbar ul{
    margin: 0;
    padding: 0;
}
#navbar ul li a{
    color: #fdfdfd;
    text-decoration: none;
    font-size: 18px;
}
#poster{
    background-image: url(../images/poster.png);
    height: 500px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fdfdfd;
    flex-direction: column;
}
#poster h1{
    font-size: 50px;
}
#poster p{
    font-size: 18px;
    text-align: center;
}
#why-sec{
    overflow: auto;
    margin-bottom: 50px;
}
.red-h{
    color: blue;
    text-align:center;
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.sec-33{
    width: 33%;
    float: left;
    text-align: center;
    padding: 0px 50px;
    box-sizing: border-box;
}
.sec-33 img{
    width: 300px;
    height: 200px;
}
.sec-33 h2{
    color: blue;
}
.sec-33 p{
    color:#333333;
    text-align:center;
}
#contact-container{
    background-color: blue;
    color: #fdfdfd;
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 30px;
}
.sec70{
    width: 70%;
    float: left;
}
.sec70 h2{
    font-size: 30px;
}
.sec30{
    width: 25%;
    float: right;
    padding-top: 70px;
}
#contact-btn{
    background-color: #fdfdfd;
    color: blue;
    text-decoration: none;
    padding: 15px 50px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8%;
}
.sec-33 a{
    color: blue;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}
#sub-sec{
    background-color: blue;
    color: #fdfdfd;
    /* display: flex; */
    padding-top:  40px;
    padding-bottom: 40px;
    overflow: auto;

}
#sec50{
    width: 50%;
    float: left;
}
#sec50 h2{
    font-size: 27px;
    padding-right: 50px;
}
#sec50 form{
    padding-top: 25px;
}
#sec50 input[type="email"]{
    padding: 10px 15px;
    color: blue;
    font-size: 15px;
    margin-right: 20px;
    border: 0px;
    width: 45%;
}
#sec50 input[type="submit"]{
    padding: 10px 35px;
    font-size: 15px;
    color: blue;
    border: 0px;
    background-color: #fdfdfd;
    width: 30%;
}
#imp-links{
    background-color: #333333;
    color:#fdfdfd;
    overflow: auto;
}
.div33{
    width: 33%;
    float: left;
    padding: 25px;
    box-sizing: border-box;
}
.div33 h3{
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
    margin-bottom: 25px;
}
#footer-menu{
    padding: 0px;
    list-style-type: none;
}
#footer-menu li{
    padding-bottom: 10px;
}
#footer-menu li a{
    color: #fdfdfd;
    text-decoration: none;
}
#footer-menu-container{
    padding-left: 100px;
}
#copy-right{
    background-color: #222f3e ;
    color: #cbcbcb;
    text-align: center;
    padding: 10px;
}
