@font-face {
    font-family: CodaCaption-ExtraBold;
    src: url(../fonts/CodaCaption-ExtraBold.ttf);
}
*{
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: CodaCaption-ExtraBold;
}
body{
    margin: 0;
}
.uni-padding{
    padding: 0 7%;
}
#tollfree{
    float: left;
    color: white;
}
#topbar{
    background-color: #576574;
    overflow: auto;
}
#social-icons{
    float: right;
    padding: 15px 10px;
}
.fa-brands{
    padding: 5px 6px;
    color:  #576574;
    background-color: #fdfdfd;
    border-radius: 50%;
}
#logobar img{
    width: 120px;
    margin: 25px 0px;
}
#navbar{
    background-color:blue ;
}
#navbar ul li{
    display: inline-block;
    padding: 18px 0px;
    padding-right: 35px;
}
#navbar ul{
    margin: 0;
    padding: 0;
}
#navbar ul li a{
    color: #fdfdfd;
    text-decoration: none;
    font-size: 18px;
}
#imp-links{
    background-color: #333333;
    color:#fdfdfd;
    overflow: auto;
    /* border: 2px solid green; */
}
.div33{
    width: 33%;
    float: left;
    padding: 25px;
    box-sizing: border-box;
    /* text-align: justify; */
}
.div33 h3{
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
    margin-bottom: 25px;
}
#footer-menu{
    padding: 0px;
    list-style-type: none;
}
#footer-menu li{
    padding-bottom: 10px;
}
#footer-menu li a{
    color: #fdfdfd;
    text-decoration: none;
}
#footer-menu-container{
    padding-left: 100px;
}
#copy-right{
    background-color: #222f3e ;
    color: #cbcbcb;
    text-align: center;
    border: 2px solid #222f3e;
}
